#column {
  margin-top: 2vh;
}

#justify {
  text-shadow: 0.5px 0.5px black;
  margin-top: 10vh;
}

#description {
  width: 430px;
  margin-left: 0vw;
  margin-top: 10vh;
}

#banner {
  margin-top: 4vh;
}

#tablet-img {
  width: 500px;
}

#info-main-text {
  margin-top: 4vh;
  text-align: center;
}

#info-row-1 {
  margin-top: 7vh;
}

#info-row-2 {
  margin-top: 7vh;
}

footer {
  background-color: black;
  margin-top: 80pt;
  height: 420px;
}

div img {
  max-width: 100rem;
  height: auto;
}

#footer-up-text-1 {
  color: white;
  margin-top: 80pt;
  text-align: center;
}

#footer-up-text-2 {
  color: red;
  margin-top: 10pt;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation {
  background-image: url(img/site/background.jpg);
  background-size: cover;
}

div.container>div.row>div.col-4>i {
  margin-left: 3rem;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50vw;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1205px) {
  body {
    margin-left: 0vw;
  }

  #tablet-img {
    width: 315px;
    height: 400px;
    margin-top: auto;
    margin-bottom: 10px;
  }

  #description {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0vh;
    max-width: 100%;
  }

  #first-link {
    margin-left: auto;
  }

  #icon_block {
    margin-bottom: 10vh;
    justify-content: center;
  }

  #icon_windows {
    margin-left: 0rem;
  }

  #icon_apple {
    margin-right: 0rem;
  }

  #banner {
    margin-bottom: 10px;
  }

  #elem1 {
    width: 50vw;
  }
}