#column {
    margin-top: 2%;
  }

  #justify { 
  text-shadow: 0.5px 0.5px black;
  margin-top: 10%;
  }

  #description {
  width: 430px;
  margin-left: 0%;
  margin-top: 10%
  }

  #banner {
    margin-top: 4%;
  }

  #tablet-img {
    width: 500px;
  }

  #info-main-text {
      margin-top: 4%;
      text-align: center;
  }

  #info-row-1 {
    margin-top: 7%;
  }

  #info-row-2 {
    margin-top: 7%;
  }

  footer {
      background-color: black;
      margin-top: 80pt; 
      height: 420px;
  }

  div img {
    max-width: 100%;
    height: auto;
  }

  #footer-up-text-1 {
      color: white;
      margin-top: 80pt;
      text-align: center;
  }

  #footer-up-text-2 {
    color: red;
    margin-top: 10pt;
    text-align: center;
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#nav-banner {
  background-image: url(img/site/background.jpg);
  background-size: cover;
}

div.container>div.row>div.col-4>i{
  margin-left:3rem;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  margin-left: auto;
}

.nav-links li a{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 800px){
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  
  #justify{
    position: absolute;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90%  -10);
    transition: all 1s ease-out;
  }

  .nav-links.open{
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90%  -10); 
  }

  .nav-li {
    display: block;
    float: none;
    width: 100%;
  }

  .nav li a {
    border-bottom: 1px solid #576979;
  }

  .nav {
    position: relative;
  }
  
  .hamburger {
    position: absolute;
    cursor: pointer;
    margin-left: auto;
    right: 5%;
    top: 20%;
    transform: translate(-5, -50%); 
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }
}