#column {
    margin-top: 2%;
  }

  #justify { 
  text-shadow: 0.5px 0.5px black;
  margin-top: 10%;
  }

  #description {
  width: 430px;
  margin-left: 0%;
  margin-top: 10%
  }

  #banner {
    margin-top: 4%;
  }

  #tablet-img {
    width: 500px;
  }

  #info-main-text {
      margin-top: 4%;
      text-align: center;
  }

  #info-row-1 {
    margin-top: 7%;
  }

  #info-row-2 {
    margin-top: 7%;
  }

  footer {
      background-color: black;
      margin-top: 80pt; 
      height: 420px;
  }

  #footer-up-text-1 {
      color: white;
      margin-top: 80pt;
      text-align: center;
  }

  #footer-up-text-2 {
    color: red;
    margin-top: 10pt;
    text-align: center;
}

#nav-banner {
  background-image: url(img/site/background.jpg);
  background-size: cover;
}

div.container>div.row>div.col-4>i{
  margin-left:3rem;
}